body {
  width: 380px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  text-align: center;
  font-size: 14px;
}
.stick {
  color: #f9f9f9;
  padding: 20px 0;
  border-left: 1px solid #349e39;
}
.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#removeTaskBtn{
	background-color: red; 
}
button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  margin: 5px 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #217e24;
}

input[type="radio"] {
  margin: 5px 5px;
}
label {
  padding: 5px;
}
.label:hover {
  background-color: #349e39;
}
ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.dropdown-container {
  display: none;
}
.dropdown-btn {
  cursor: pointer;
  padding: 10px;
}
.dropdown-btn:hover {
  background-color: #45a049;
}
li {
  cursor: pointer;
  padding: 10px;
  list-style-type: none;
}
label > li:hover {
  font-weight: bold;
  background-color: #cc8fb8;
}
label {
  display: flex;
}
.border {
  border-top: #45a049 2px solid;
  padding: 5px;
}
